<web-app>  
    
    <servlet>  
        <servlet-name>createservlet</servlet-name>  
        <servlet-class>servlets.CreateAccountServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>  
        <servlet-name>createservlet</servlet-name>  
        <url-pattern>/CreateAccount</url-pattern>  
    </servlet-mapping>

    <servlet>  
        <servlet-name>startsessionservlet</servlet-name>  
        <servlet-class>servlets.StartSessionServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>
        <servlet-name>startsessionservlet</servlet-name>  
        <url-pattern>/StartSession</url-pattern>
    </servlet-mapping>

    <servlet>  
        <servlet-name>checksessionservlet</servlet-name>  
        <servlet-class>servlets.CheckSessionServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>
        <servlet-name>checksessionservlet</servlet-name>  
        <url-pattern>/CheckSession</url-pattern>
    </servlet-mapping>

    <servlet>  
        <servlet-name>endsessionservlet</servlet-name>  
        <servlet-class>servlets.EndSessionServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>
        <servlet-name>endsessionservlet</servlet-name>  
        <url-pattern>/EndSession</url-pattern>
    </servlet-mapping>

    <servlet>  
        <servlet-name>insertcalculationservlet</servlet-name>  
        <servlet-class>servlets.InsertCalculationServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>
        <servlet-name>insertcalculationservlet</servlet-name>  
        <url-pattern>/AddCalculation</url-pattern>
    </servlet-mapping>

    <servlet>  
        <servlet-name>getcalculationsservlet</servlet-name>  
        <servlet-class>servlets.GetCalculationsServlet</servlet-class>  
    </servlet>
          
    <servlet-mapping>
        <servlet-name>getcalculationsservlet</servlet-name>  
        <url-pattern>/GetLast10Calculations</url-pattern>
    </servlet-mapping>

</web-app>  